#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #17a2b8;
  border: 1px solid #17a2b8;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #17a2b8;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #17a2b8;
    outline: none;
    border-bottom: 0.25rem solid #17a2b8;
  }
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
}
.kavovary {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5rem 0;
}
.logo {
    height: 80px;
}
.mapa {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;  
}
.mapa:hover {
    opacity: 0.6;  
}
.child {
}
.child-even {
  background-color: #efefef;
}
.products {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
#products_bottom {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  height: 5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 950;
}
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 999;
  font-size: 200%;
}
.filtered {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.filtered:hover, .filtered:active {
  -webkit-filter: none;
  filter: none;
}
 .grad {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 19%, rgba(255, 255, 255, 1) 36%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(19%, rgba(255, 255, 255, 0.53)), color-stop(36%, rgba(255, 255, 255, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 19%, rgba(255, 255, 255, 1) 36%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 19%, rgba(255, 255, 255, 1) 36%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 19%, rgba(255, 255, 255, 1) 36%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 19%, rgba(255, 255, 255, 1) 36%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f1f1', endColorstr='#f1f1f1', GradientType=1);
  /* IE6-9 */
}
 .grad_gray {
  background: -moz-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(241, 241, 241, 0)), color-stop(19%, rgba(241, 241, 241, 0.53)), color-stop(36%, rgba(241, 241, 241, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.53) 19%, rgba(241, 241, 241, 1) 36%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f1f1', endColorstr='#f1f1f1', GradientType=1);
  /* IE6-9 */
}


@media (max-width: 899px) {
    .masthead {
        background: url("../img/bg-masthead-900.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary {
        background: url("../img/kavovary800-bw.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary:hover {
        background: url("../img/kavovary800.jpg");
    }
    .logo {
            height: 45px;
    }
}
@media (min-width: 900px) {
    .masthead {
        background: url("../img/bg-masthead-1200.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary {
        background: url("../img/kavovary800-bw.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary:hover {
        background: url("../img/kavovary800.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}
@media (min-width: 2000px) {
    .masthead {
        background: url("../img/bg-masthead-2000.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary {
        background: url("../img/kavovary800-bw.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary:hover {
        background: url("../img/kavovary800.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}
@media (min-width: 3000px) {
    .masthead {
        background: url("../img/bg-masthead.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary {
        background: url("../img/kavovary800-bw.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .kavovary:hover {
        background: url("../img/kavovary800.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}
.masthead h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  color: white;
}

.masthead h2 {
  font-family: 'Roboto Slab', serif;
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Roboto Slab';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #17a2b8;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.about-section {
  padding-top: 2rem;
  background: #161616;
}

.about-section-white {
  padding-top: 2rem;
  background: #ffffff;
}

.about-section p {
  margin-bottom: 3rem;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #17a2b8;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
.vzdaleny_pristup_1, .vzdaleny_pristup_2, .vzdaleny_pristup_3 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
    max-width: 500px;
    margin: auto;
}
.vzdaleny_pristup_1 {
    background-image: url('../img/vzdaleny_pristup_1_bw.png');
    }
.vzdaleny_pristup_1:hover {
    background-image: url('../img/vzdaleny_pristup_1.png');
    }
.vzdaleny_pristup_2 {
    background-image: url('../img/vzdaleny_pristup_2_bw.png');
    }
.vzdaleny_pristup_2:hover {
    background-image: url('../img/vzdaleny_pristup_2.png');
    }
.vzdaleny_pristup_3 {
    background-image: url('../img/vzdaleny_pristup_3_bw.png');
    }
.vzdaleny_pristup_3:hover {
    background-image: url('../img/vzdaleny_pristup_3.png');
    }    
@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #17a2b8;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-signup.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #17a2b8;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #17a2b8;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  letter-spacing: 0.0625em;
}

a {
  color: #17a2b8;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #17a2b8 !important;
}

.text-primary {
  color: #17a2b8 !important;
}

footer {
  padding: 5rem 0;
}
.pdf_icon {
  height: 4rem;
}
.pdf_icon:hover, .pdf_icon:focus {
  opacity: .6;
}
.lupa {
  background-image: url(../img/magnifying_glass.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: top right;
  transition: background-size 0.5s ease-in-out;
  color: black !important;
  height: 30px !important;
  vertical-align: middle;
  padding-right: 30px;
}
.article h3, article p, article a, .article a:active, .article a:visited, .text-basic {
  color: #212529 !important;
}
.article h3:hover, article p:hover, article a:hover, .text-basic:hover {
  color: #3c6360 !important;
}
.lupa:hover, .lupa:active {
  background-size: 30px 30px;
}
.spacing {
  width: 3rem;
  height: 3rem;
}