body,
html {
  width: 100%;
  height: 100%;
}

.roboto-slab {
    font-family: 'Roboto Slab', Times New Roman, serif;
}
.roboto-slab-heading {
    font-family: 'Roboto Slab', Times New Roman, serif;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.5rem;
}
.merriweather {
    font-family: 'Merriweather', Times New Roman, serif;
}
.merriweather-heading {
    font-family: 'Merriweather', Times New Roman, serif;
    font-size: 3rem;
    line-height: 3rem;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
a, a:hover, a:active, a:visited {
  color: black !important;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}


.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(64, 43, 43, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.kava-masthead, .pokladny-masthead, .map-masthead {
    width: 26rem;
    height: 26rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .6s ease-in-out;
    top: 0; left: 0;
}
.kava-masthead, .pokladny-masthead {
    opacity: .8;
}
.kava-masthead:hover, .pokladny-masthead:hover {
    opacity: 1;
}
.kava-masthead {
    background: url("../img/kava-bg-masthead-800.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}
.pokladny-masthead {
    background: url("../img/pokladny-bg-masthead-900.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.map-masthead {
    background: url("../img/map-white.jpg");
    color: black !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border: none;
}
.map-masthead a, .map-masthead a: hover, map-masthead a:visited, map-mathead a:active{
    color: black !important;
    text-decoration: none !important;
}
.kava-masthead:hover, .pokladny-masthead:hover, .map-masthead:hover {
    transform: scale(1.1);
}
.map-masthead:hover {
    background: url("../img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.map-masthead:hover h5 {
    display: none;
}

@media (max-width: 799px) {
    .kava-masthead, .pokladny-masthead, .map-masthead {
         width: 100%;
         height: auto;
     }
    .kava-masthead:hover, .pokladny-masthead:hover, .map-masthead:hover {
        transform: none;
    }
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}

.btn-primary {
  background-color: #382929 !important;
  border-color: #382929 !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #562929 !important;
  border-color: #562929 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #382929 !important;
}

.text-primary {
  color: #382929 !important;
}

.text-secondary {
  color: #ecb807 !important;
}
